<html>
<head>
  <title>Todos - Jasper MVC</title>
  <link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>
<body>
  <div id="views"></div>

  <script type="text/template" id="appTemplate">
    <div id="tasks">
      <h1>Todos</h1>
      <form>
        <input name="title" type="text" id="newTodoText" data-action="enter:todo/add" placeholder="What needs to be done?" />
      </form>
      <div class="items"> 
        @JasperMvc.Controller.executeAction({ controller: "todo", action: "list" })
      </div>
      @JasperMvc.Controller.executeAction({ controller: "todo", action: "summary" })
    </div>
  </script>

  <script type="text/template" id="todoItemTemplate">
    <div class="item @(model.isComplete ? "done" : "")">
      <div class="view" data-action="dblclick:todo/edit/@model.id" title="Double click to edit...">
        <form>
          @if (!model.isEditing) {     
            <input data-action="change:todo/update/@model.id" 
              name="isComplete" @(model.isComplete ? "checked" : "") 
              type="checkbox">
            <span>@model.title</span> 
            <a class="destroy" data-action="click:todo/remove/@model.id"></a>     
          }
          @if (model.isEditing) {     
            <input name="title" type="text" data-action="enter:todo/update/@model.id" value="@model.title" />
          }   
        </form>
      </div>
    </div>
  </script>

  <script type="text/template" id="todoListTemplate">
    @model.forEach(function(todo) {
      @JasperMvc.Controller.executeAction({ controller: "todo", action: "get" }, { id: todo.id } )
    })
  </script>

  <script type="text/template" id="todoFooterTemplate">
    <footer>
      @if (model.canClear) {
        <a class="clear" data-action="click:todo/removeCompleted">Clear completed</a>
      }
      <div class="count">
        <span class="countVal">@model.count</span> left
      </div>
    </footer>
  </script>
</body>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="../libs/json-binder.js"></script>
<script type="text/javascript" src="../libs/vash.js"></script>
<script type="text/javascript" src="../jasper-mvc.js"></script>
<script type="text/javascript" src="controller.js"></script>

<script type="text/javascript">
  JasperMvc.Settings.setAppSelector("#views");
  JasperMvc.Run();
</script>

</html>
