<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>ftp://aet-software.com/aet-software.com/wwwroot/jasper-mvc</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>taddeini</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/jasper-mvc.dll">
      <publishTime>07/01/2012 09:24:49</publishTime>
    </File>
    <File Include="css/main.css">
      <publishTime>07/01/2012 10:13:17</publishTime>
    </File>
    <File Include="example/controller.js">
      <publishTime>07/01/2012 09:09:13</publishTime>
    </File>
    <File Include="example/routes.js">
      <publishTime>06/17/2012 08:52:09</publishTime>
    </File>
    <File Include="example/todo.htm">
      <publishTime>07/01/2012 09:30:39</publishTime>
    </File>
    <File Include="images/destroy.png">
      <publishTime>06/17/2012 08:02:35</publishTime>
    </File>
    <File Include="jasper-mvc.js">
      <publishTime>06/25/2012 19:42:41</publishTime>
    </File>
    <File Include="libs/json-binder.js">
      <publishTime>06/25/2012 19:16:04</publishTime>
    </File>
    <File Include="libs/qunit.js">
      <publishTime>06/17/2012 08:15:13</publishTime>
    </File>
    <File Include="libs/vash.js">
      <publishTime>06/16/2012 19:47:00</publishTime>
    </File>
    <File Include="readme.md">
      <publishTime>07/01/2012 10:10:49</publishTime>
    </File>
    <File Include="tests/jasper-mvc.tests.js">
      <publishTime>06/17/2012 09:18:56</publishTime>
    </File>
    <File Include="tests/tests.htm">
      <publishTime>06/18/2012 20:39:23</publishTime>
    </File>
  </ItemGroup>
</Project>